*{
     margin: 0px;
    padding: 0px; 
    font-family: "poppins" , sans-serif;
}
header{
    display: flex;
     background-color: rgb(49, 63, 74);
      width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between; 
    position: sticky;
    top: 0;
}
.div1{
    margin: 20px;
}
.div2{

}
.div3{
    margin-right: 20px;
}


.button1{
    width: 100px;
    height: 5vh;
    font-size: medium;
    font-weight: bolder;
    background-color:  rgb(49, 63, 74);
    color: white;
    border-color: white;
}
.button1:hover{
    background-color: white;
    color:  rgb(49, 63, 74);
}
.heading1{
     color: white; 

}

span{
    color: rgb(1, 118, 96);
}
.button2{
    width: 300px;
    height: 7vh;
    border-radius: 30px;
    background-color: rgb(70, 187, 162);
    color: white;
    font-weight: bolder;
    font-size: large;
    border: none;
    transition: background-color 0.4s linear,box-shadow 0.4s linear,transform 0.4s ease;
}
.button2:hover{
    background-color: rgb(28, 114, 96); 
    box-shadow: 0 5px 3px 6px  rgb(50,49,49);
     transform: translateY(-5px); 
}
.main1{
    background-color: rgb(42, 53, 61);
    width: 100%;
    height: 60vh;
    border-bottom-left-radius: 25%;
     border-bottom-right-radius: 25%;
     margin-top: 0%;
     padding-top: 200px;
     /* text-align: center; */
     
     
}
.div4{
     margin-left: 25%;
     
margin-left: 40%;

}
.heading2{
    font-size: 50px;
    color: white;
}
.p1{
    margin-top: 20px;
    color: white;
    
}
.div5{
    margin-top: 20px;
}
.button3{
    width: 20%;
    height: 7vh;
    border-radius: 30px;
    border-color: white;
    border-width: 5px;
    color: white;
    background-color: rgb(49, 63, 74);
    font-size: large;
    font-weight: bolder;
    margin-left: 10px;
   transition: transform 0.4s linear 0s;
}
.button3:hover{
    transform: translateY(-5px);
    color: rgb(28, 114, 96);
    border-color: rgb(28, 114, 96);
   box-shadow: rgb(50,49,49);
}
.div6{
    background-color:  rgb(49, 63, 74);
    height: 20vh;
    width: 70%;
    margin-top: 60px;
    border-radius: 15px;
    margin-left: 20%;
    
    
}
.heading3{
    color: rgb(28, 114, 96);
    margin-left: 30%;
    

}
.p2{
    margin-left: 31%;
    margin-top: 20px;
    color: white;
}
.button4{
    width: 300px;
    height: 7vh;
    border-radius: 30px;
    background-color: rgb(70, 187, 162);
    color: white;
    font-weight: bolder;
    font-size: large;
    border: none;
    margin-left: 31%;
    margin-top: 35px;
    transition: background-color 0.4s linear,box-shadow 0.4s linear,transform 0.4s ease;
}
.button4:hover{
    background-color: rgb(28, 114, 96); 
    box-shadow: 0 5px 3px 6px  rgb(50,49,49);
     transform: translateY(-5px); 
}
.main2{
    text-align: center;
    margin-top: 10%;
    
}
.heading4{
    text-decoration: underline rgb(28, 114, 96) 10px ;
    text-underline-offset: 20px;
    
}
.main3{
    justify-content: center;
    display: flex;
    margin-top: 5%;
}
.box1{
    width: 15%;
    background-color: lavender;
    text-align: center;
    height: 27vh;
    border-radius: 15px;
    transition: background-color 0.4s linear,box-shadow 0.4s linear,transform 0.4s ease;
}
.box2{
    width: 15%;
    background-color: lavender;
    text-align: center;
    height: 27vh;
    border-radius: 15px;
    margin-left: 5%;
        transition: background-color 0.4s linear,box-shadow 0.4s linear,transform 0.4s ease;

}
.box2:hover{
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
.box1:hover{
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
     transform: translateY(-5px);
}
.main4{
    text-align: center;
    padding: 3%;
    
}
.main5{
    display: flex;
    justify-content: center;
}
.part1{
    background-color: white;
    width: 20%;
    height: 45vh;
    text-align: center;
    border-radius: 15px;
     box-shadow: 1px 1px 10px;
}
.part2{
    background-color: white;
    width: 20%;
    height: 45vh;
    text-align: center;
    border-radius: 15px;
     box-shadow: 1px 1px 10px;
     margin-left: 40px;
}
.part1:hover{
    transform: translateY(-6px);
}
.part2:hover{
    transform: translateY(-6px);
}
.img1{
    height: 30vh;
    width: 40%;

}
.p3{
    color: rgb(28, 114, 96);
font-size: larger;
margin-top: 10px;

}
h1{
    margin-top: 20px;
}
.main6{
    margin-top: 5%;
    text-align: center;
}
.button5{
width: 300px;
    height: 7vh;
    border-radius: 30px;
    background-color: rgb(70, 187, 162);
    color: white;
    font-weight: bolder;
    font-size: large;
    border: none;
    
    transition: background-color 0.4s linear,box-shadow 0.4s linear,transform 0.4s ease;
}
.button5:hover{
    background-color: rgb(28, 114, 96); 
    box-shadow: 0 5px 3px 6px  rgb(50,49,49);
     transform: translateY(-5px); 
}
.hh1{
    display: flex;
    margin-top: 5%;
    justify-content: center;
}
.box3{
    width: 20%;
    background-color: lavender;
    text-align: center;
    height: 30vh;
    border-radius: 15px;
    transition: background-color 0.4s linear,box-shadow 0.4s linear,transform 0.4s ease;

}
.box4{
    width: 20%;
    background-color: lavender;
    text-align: center;
    margin-left: 50px;
    gap: 20px;
    height: 30vh;
    border-radius: 15px;
    transition: background-color 0.4s linear,box-shadow 0.4s linear,transform 0.4s ease,border-bottom 0.4s linear;
}
.box3:hover{
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    border-bottom: rgb(28, 114, 96) 5px solid;
}
.box4:hover{
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    border-bottom: rgb(28, 114, 96) 5px solid;
}
footer{
    margin-top: 10%;
}
.section1{
    background-color: rgb(28, 114, 96);
    height: 30vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
}
.section2{
    background-color: black;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
     transition: color 0.4s linear,transform 0.4s ease;
}
a:hover{
    color: lightgreen;
    transform: translateX(20px);
}
.pp{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}
div{
    margin-left: 30px;
}
.div10{
    
}